.container {
  max-width: 700px;
  margin: 0 auto;
  background: #cd2c6c;
  padding: 75px;
  margin: 50px auto;
  box-shadow: 10px 10px 10px #a21942;
  border-radius: 20px;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 45px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px dashed lightblue;
}

.city:last-child {
  border-bottom: none;
}

body {
  background: pink;
}

select {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 7px;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  font-size: smaller;
  color: blanchedalmond;
}
